@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif !important;
  font-size: 100%;
}

.main {
  width: 400px;
  height: auto;
  background-color: rgb(56, 56, 56);
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#links {
  overflow: auto;
  padding: 0px;
}

h3 {
  font-family: Montserrat;
  text-align: center;
}

#my_image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
  width: 100%;
  height: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  max-height: 70vh;
  max-width: 600px;
  margin-top: -20px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 600px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
  font-size: 30px;
}

/* Add Animation */
.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.myclose {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 100px;
  font-weight: bold;
  transition: 0.3s;
}

.myclose:hover,
.myclose:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}

.button {
  display: inline-block;
  border-radius: 25px;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  background-color: rgb(80, 80, 80);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 200px;
  transition: 0.25s ease-out;
  cursor: pointer;
}

.button_disabled {
  display: inline-block;
  border-radius: 25px;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  background-color: rgb(60, 60, 60);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 200px;
  opacity: 0.5;
  cursor: default;
}

.button:hover {
  background-color: rgba(201, 201, 201, 0.363);
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button_disabled span {
  display: inline-block;
  position: relative;
  cursor: default;

}

a {
  display: none;
}

.button span:after,.button_disabled span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 100;
  right: 0;
}

button:focus {
  outline: 0;
}

.next-btn {
  text-align: center;
  display: inline-block;
  margin-left: 30px;
  margin-right: 30px;
}

.menu-btn {
  display: inline-block;
  border-radius: 25px;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  padding: 10px;
  transition: 0.25s ease-out;
  cursor: pointer;
  margin-top: 30px;
  width: 50px;
  background-color: rgb(80, 80, 80);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.menu-btn:hover {
  background-color: rgba(201, 201, 201, 0.363);
}

.menu-btn:active,
.button:active,
.submitBtn:active {
  background-color: rgba(226, 226, 226, 0.365);
}

.menu {
  display: inline-block;
  height: auto;
  color: white;
  transition: 0.25s ease-out;
  margin-top: 10px;
  margin-bottom: 10px;
}

.menuInfo {
  display: none;
  width: 370px;
  height: auto;
}

.menuInfo {
  animation: fadein 0.25s;
  -webkit-animation: fadein 0.25s; /* Chrome */
  -moz-animation: fadein 0.25s; /* Firefox < 16 */
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Chrome */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.memesLeft {
  text-align: center;
  margin: 10px;
}

#shareButton {
  padding-right: 10px;
}

.note {
  position: absolute;
  z-index: 101;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 0;
  overflow: hidden;
  -webkit-box-shadow: 0 0 5px black;
  -moz-box-shadow: 0 0 5px black;
  box-shadow: 0 0 5px black;
  display: inline-block;
  transition: 0.25s ease-out;
  color: white;
}

#note1 {
  background: rgb(0, 92, 0);
}

#note2 {
  background: rgb(0, 92, 0);
}

#note3 {
  background: rgb(100, 0, 0);
}

.subredditContainer {
  width: 350px;
  height: auto;
  overflow: auto;
  position: relative;
}

.custContainer {
  width: 350px;
  height: 50;
  overflow: auto;
  position: relative;
}

.menuInfoText {
  font-size: 18px;
}

.subredditEntry {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 165px;
  height: 50px;
  background: rgba(88, 88, 88, 0.678);
  border-radius: 25px;
  margin: 0px 10px 10px 0px;
  position: relative;
  float: left;
  transition: 0.25s ease-out;
}

.subredditEntry h1 {
  position: absolute;
  left: 40px;
  line-height: 10px;
  font-size: 14px;
}

.deleteBtn {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  color: black;
  background: rgba(190, 190, 190, 0.678);
  width: 20px;
  height: 20px;
  text-align: center;
  transition: 0.25s ease-out;
  cursor: pointer;
  position: absolute;
  margin: 15px;
}
.deleteBtn:hover {
  color: red;
  background: white;
}

#input {
  color: black;
  width: 200px;
  margin-top: 10px;
  float: left;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  border: none;
  padding: 5px;
}

.submitBtn {
  height: 35px;
  width: 80px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.25s ease-out;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 8px;
  margin-left: 210px;
  padding: 8px;
  text-align: center;
  background: rgba(88, 88, 88, 0.678);
}

.submitBtn:hover {
  background: rgba(190, 190, 190, 0.678);
}
